  

  .on-slide-11 .show0 {
    position: absolute;
    left: -999em;
    top: -999em;
  }

  .on-slide-12 .show1 {
    color: #c00;
  }

  .on-slide-11 .show2, .on-slide-12 .show2 {
    position: absolute;
    left: -999em;
    top: -999em;
  }

  .on-slide-13 .show2 {
    color: #c00;
  }

  .on-slide-11 .show3, .on-slide-12 .show3, .on-slide-13 .show3 {
    position: absolute;
    left: -999em;
    top: -999em;
  }
  
    .on-slide-14 .show3 {
    color: #c00;
  }

  .on-slide-11 .show4, .on-slide-12 .show4, .on-slide-13 .show4, .on-slide-14 .show4 {
    position: absolute;
    left: -999em;
    top: -999em;
  }

    .on-slide-15 .show4, .on-slide-15 .highlight4 {
    color: #c00;
  }

 
.on-slide-19 .setvars, .on-slide-19 .passvars, .on-slide-18 .setvars, .on-slide-20 .setvars, .on-slide-20 .passvars {
    color: #c00;
  }

